a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.tag{
	position:  fixed;
	bottom:  0;
	right: 0;
	padding:  20px;
	color:  white;
	font-weight:  10px;
	font-size:  25px;
}

span{
  border-style: none;
	border-radius: 20px;
	padding-right:  100px;
	padding-down: 20px;
	padding-up:  20px;
	background:  pink;
	cursor: pointer;
  display: block;
}

span::after{
  float: right;
  right: 5%;
  content:"+";
}

.bubble{
  background: none;
}

.button{
  margin-top: 15px;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
}
