.GCode{
  align-self: center;
}

.Number{
	margin:  0 auto;
	margin-bottom:  100px;
	padding-top: 50px;
	width:  150px;
	height:  50px;
	border-radius: 15px;
}

.People{
	font-size:  30px;
}

a{
	text-decoration: none;
	cursor: pointer;
}

.Bubble{
  background: none;
  color: white;
}

.RefreshButton img{
  object-fit: contain;
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.RefreshButton{
  margin: 0 auto;
  border: none;
  color: white;
  background: none;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.RefreshButton:hover{
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  background: none;
  transition: 0.5s;
}


.Tag{
	position:  fixed;
	bottom:  0;
	right: 0;
	padding:  20px;
	color:  white;
	font-weight:  10px;
	font-size:  25px;
}
