.GCode{
  align-self: center;
}

.Number{
	margin:  0 auto;
	margin-bottom:  100px;
	padding-top: 50px;
	width:  150px;
	height:  50px;
	border-radius: 15px;
}

.People{
	font-size:  30px;
}

.Regenerate{
  width: 200px;
  text-align: center;
  padding: 20px;
}

.StartButton{
	text-align: center;
    background: maroon;
    font-size:  20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 20px;
    border-bottom: 1px solid;
    border: none;
    color:  white;
    width:  200px;
    margin: 0 auto;
    padding: 20px 50px;

}

a{
	text-decoration: none;
	cursor: pointer;
}

.StartButton:hover {
	background:  goldenrod;
	

}


.tag{
	position:  fixed;
	bottom:  0;
	right: 0;
	padding:  20px;
	color:  white;
	font-weight:  10px;
	font-size:  25px;
}

