.GCode{
  align-self: center;
}

.Number{
	margin:  0 auto;
	margin-bottom:  100px;
	padding-top: 50px;
	width:  150px;
	height:  50px;
	border-radius: 15px;
}

.People{
	font-size:  30px;
}

a{
	text-decoration: none;
	cursor: pointer;
}

.Bubble{
  background: none;
  color: white;
}

.Button{
  margin-top: 50px;
  margin: 0 auto;
  width: 100px;
}


.tag{
	position:  fixed;
	bottom:  0;
	right: 0;
	padding:  20px;
	color:  white;
	font-weight:  10px;
	font-size:  25px;
}
